*{
    text-transform: uppercase;
}
#logo{
    margin-left: 460px;
}
#header{
    text-align: center;
    text-decoration: underline;
    color: rgb(147,112,219);
}
#form{
    background-color: rgb(147,112,219);
    border-radius: 5px;
}
#house-address{
    margin-left: 30px;
}
#sub-form{
    text-align: center;
}
#first-name,#last-name,#email,#number{
    margin-left: 70px;
}
#submitted{
    text-align: center;
}
#greet{
    color: green;
}
#sub{
    text-decoration: none;
    color: black;
}